@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
/* line 13, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000313}}
.epay_cardno_input,
.epay_cardno_input.valid,
.epay_expmonth_input.valid,
.epay_expyear_input.valid,
.epay_cvc_input.valid {
  background: none;
}
/* line 14, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000314}}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 16, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000316}}
body {
  overflow: hidden;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}
/* line 17, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000317}}
#epay_main {
  max-width: 100%;
  margin: 0 auto;
  float: none;
  left: 0;
}
/* line 18, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000318}}
#epay_paymentcollection,
form,
#epay_content_content,
#epay_content {
  width: 100%;
  padding: 0;
  overflow: visible;
  border: 0;
  margin: 0;
}
/* line 19, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000319}}
#epay_paymentcards_form {
  width: 100%;
  float: none;
  height: 195px;
}
/* line 20, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000320}}
#epay_paymentcards_form ul li {
  margin: 0;
  height: auto;
  width: 100%;
  clear: both;
}
/* line 22, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000322}}
#epay_paymentcollection label {
  float: none;
  display: block;
  width: 100%;
  color: #333333;
  cursor: pointer;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: 20px;
}
/* line 23, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000323}}
#epay_paymentcollection input[type="text"] {
  max-width: 70%;
  font-weight: normal;
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  display: inline-block;
  font-size: 12px;
}
/* line 24, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000324}}
#epay_paymentcollection input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted 9;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 26, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000326}}
#epay_paymentcollection input.epay_expmonth_input,
#epay_paymentcollection input.epay_expyear_input,
#epay_paymentcollection input.pay_cvc_input {
  max-width: 30%;
}
/* line 28, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000328}}
input[type=submit].epay_payment_button {
  float: none;
  margin-top: 5px;
  background-image: none;
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  cursor: pointer;
  -webkit-appearance: button;
  max-width: 100%;
}
/* line 60, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000360}}
input[type=submit].epay_payment_button:hover,
input[type=submit].epay_payment_button:active {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
/* line 66, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000366}}
#epay_testmode_message,
#epay_steps,
#epay_paymentinfo,
#epay_paymentfooter {
  display: none;
}
/* line 68, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000368}}
#epay_cvc_help {
  margin-left: 10px;
  margin-top: 1px;
  margin-right: 5px;
  width: 45px;
  overflow: hidden;
}
/* line 70, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000370}}
span.info {
  background: url("http://dgda.development.novicell.dk/images/v2/sprite-01.png") no-repeat -667px -350px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  width: 28px;
  height: 27px;
  position: relative;
  margin: -5px 0 0 10px;
  top: 5px;
}
/* line 71, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000371}}
span.info * {
  display: none;
}
/* line 73, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000373}}
span.info:hover + .epay_tooltip {
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
}
/* line 75, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000375}}
#epay_loader_content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
/* Card Number Tooltip */
/* line 78, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000378}}
#cardno_info_tooltip.epay_tooltip {
  background: #383838;
  border: 1px solid #d1d1d1;
  top: 55px;
  left: 0px;
}
/* line 79, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000379}}
#cardno_info_tooltip.epay_tooltip:after,
#cardno_info_tooltip.epay_tooltip:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 80, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000380}}
#cardno_info_tooltip.epay_tooltip:after {
  border-color: rgba(56, 56, 56, 0);
  border-bottom-color: #383838;
  border-width: 5px;
  left: 92%;
  margin-left: -5px;
}
/* line 81, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000381}}
#cardno_info_tooltip.epay_tooltip:before {
  border-color: rgba(209, 209, 209, 0);
  border-bottom-color: #d1d1d1;
  border-width: 6px;
  left: 92%;
  margin-left: -6px;
}
/* Expiration tooltip */
/* line 84, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000384}}
#exp_info_tooltip.epay_tooltip {
  top: 115px;
  left: 0px;
  background: #383838;
  border: 1px solid #d1d1d1;
}
/* line 85, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000385}}
#exp_info_tooltip.epay_tooltip:after,
#exp_info_tooltip.epay_tooltip:before {
  bottom: 100%;
  left: 92%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 86, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000386}}
#exp_info_tooltip.epay_tooltip:after {
  border-color: rgba(56, 56, 56, 0);
  border-bottom-color: #383838;
  border-width: 5px;
  margin-left: -5px;
}
/* line 87, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000387}}
#exp_info_tooltip.epay_tooltip:before {
  border-color: rgba(209, 209, 209, 0);
  border-bottom-color: #d1d1d1;
  border-width: 6px;
  margin-left: -6px;
}
/* CVC Tooltip */
/* line 91, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000391}}
#cvc_info_tooltip.epay_tooltip {
  background: #383838;
  border: 1px solid #d1d1d1;
  top: 19px;
  left: 0px;
}
/* line 92, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000392}}
#cvc_info_tooltip.epay_tooltip:after,
#cvc_info_tooltip.epay_tooltip:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 93, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000393}}
#cvc_info_tooltip.epay_tooltip:after {
  border-color: rgba(56, 56, 56, 0);
  border-top-color: #383838;
  border-width: 5px;
  left: 94%;
  margin-left: -5px;
}
/* line 94, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000394}}
#cvc_info_tooltip.epay_tooltip:before {
  border-color: rgba(209, 209, 209, 0);
  border-top-color: #d1d1d1;
  border-width: 6px;
  left: 94%;
  margin-left: -6px;
}
@media (max-width: 767px) {
  /* line 97, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\0000397}}
  #epay_paymentcollection input[type="text"] {
    width: 140px;
  }
  /* line 100, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\00003100}}
  #epay_paymentcollection input[type="text"] .epay_cvc_input {
    width: 47px !important;
  }
  /* line 105, C:\Users\Lars\Documents\GitHub\PS-Mod-ePay\epay\epay.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lars\/Documents\/GitHub\/PS-Mod-ePay\/epay\/epay\.less}line{font-family:\00003105}}
  #epay_paymentcollection input.epay_expmonth_input,
  #epay_paymentcollection input.epay_expyear_input,
  #epay_paymentcollection input.pay_cvc_input {
    width: 47px !important;
  }
}
